<%= form_with(model: fighter, local: true) do |form| %>
  <% if fighter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fighter.errors.count, "error") %> prohibited this fighter from being saved:</h2>

      <ul>
      <% fighter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <% form.label :first_name %>
    <%= form.text_field :first_name, id: :fighter_first_name, class: "form-control", placeholder: "First Name" %>
  </div>

  <div class="field form-group">
    <% form.label :last_name %>
    <%= form.text_field :last_name, id: :fighter_last_name, class: "form-control", placeholder: "Last Name" %>
  </div>

  <div class="field form-group">
    <% form.label :email %>
    <%= form.text_field :email, id: :fighter_email, class: "form-control", placeholder: "Email" %>
  </div>

  <div class="field form-group">
    <% form.label :phone %>
    <%= form.text_field :phone, id: :fighter_phone, class: "form-control", placeholder: "Phone Number" %>
  </div>

  <div class="field form-group">
    <% form.label :bio %>
    <%= form.text_field :bio, id: :fighter_bio, class: "form-control", placeholder: "Bio" %>
  </div>

  <div class="field form-group">
    <% form.label :user_id %>
    <%= form.number_field :user_id, id: :fighter_user_id, class: "form-control", value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success" %>
  </div>
<% end %>
